body {
    text-align: center;
    margin: 0;
    padding: 0;
}

h1{
    color: red;
    background-color: black;
}

ul{
    list-style: none;
    align-items: center;
    padding: 0;
}

h2{
    
    color: white;
}
#about-section{
    background-color: blue;
}

button{
    height: 110%;
    background-color: aqua;
    border: 2px solid black;
    border-radius: 3px;
}

p{
    font-size: 20px;
    color: white;
}

.services-list{
    display: none;
}
